.scroll-top-btn{

    position:fixed;

    right:30px;

    bottom:30px;

    width:58px;

    height:58px;

    border:none;

    border-radius:50%;

    background:#3B82F6;

    color:white;

    font-size:1.2rem;

    cursor:pointer;

    display:flex;

    justify-content:center;

    align-items:center;

    box-shadow:
        0 12px 30px rgba(59,130,246,.35);

    transition:all .3s ease;

    z-index:1000;

}

.scroll-top-btn:hover{

    transform:translateY(-6px);

    background:#2563EB;

}


@media(max-width:768px){

    .scroll-top-btn{

        right:20px;

        bottom:20px;

        width:52px;

        height:52px;

    }

}




/* transition: all .3s ease;

That means any property that changes—background color, transform, shadow, etc.—will animate smoothly over 0.3 seconds. */




/* .scroll-top-btn{

    outline:none;

}

.scroll-top-btn:focus{

    outline:none;

} */