.journey-section{

    padding:120px 0;

    background:var(--background-color);

}

.journey-header{

    text-align:center;

    margin-bottom:80px;

}

.journey-header h2{

    font-size:2.8rem;

    color:var(--text-primary);

    margin-bottom:15px;

}

.journey-header p{

    color:var(--text-secondary);

    max-width:700px;

    margin:auto;

    line-height:1.8;

}

.timeline{

    position:relative;

    max-width:900px;

    margin:auto;

}

.timeline::before{

    content:"";

    position:absolute;

    top:0;

    left:20px;

    width:3px;

    height:100%;

    background:linear-gradient(

        to bottom,

        var(--primary-color),

        rgba(59,130,246,.15)

    );

    border-radius:50px;

}

/* ::before  -  psuedo-element */

.timeline-item{

    position:relative;

    padding-left:70px;

    margin-bottom:60px;

}

/* .timeline-dot{

    position:absolute;

    left:10px;

    top:8px;

    width:20px;

    height:20px;

    background:var(--primary-color);

    border-radius:50%;

    box-shadow:0 0 18px rgba(59,130,246,.6);

} */

.timeline-dot{

    position:absolute;

    left:10px;

    top:8px;

    width:20px;

    height:20px;

    border-radius:50%;

    background:var(--primary-color);

    box-shadow:

        0 0 10px rgba(59,130,246,.6),

        0 0 25px rgba(59,130,246,.4);

    animation:pulse 2s infinite;

}

@keyframes pulse{

    0%{

        transform:scale(1);

    }

    50%{

        transform:scale(1.15);

    }

    100%{

        transform:scale(1);

    }

}

.timeline-content{

    /* background:var(--card-color);

    border:1px solid var(--border-color);
 */

    background:rgba(30,41,59,.65);

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    border:1px solid rgba(255,255,255,.08);

    border-radius:18px;

    padding:25px;

    transition:.35s;

}

.timeline-content:hover{

    transform:translateY(-8px);

    border-color:var(--primary-color);

    box-shadow:0 10px 35px rgba(59,130,246,.18);

}

.timeline-content h3{

    color:var(--text-primary);

    margin-bottom:10px;

}

.timeline-content p{

    color:var(--text-secondary);

    line-height:1.8;

}

@media(max-width:768px){

    .timeline::before{

        left:15px;

    }

    .timeline-item{

        padding-left:55px;

    }

    .timeline-dot{

        left:5px;

    }

}


/*

Why did timeline-content stretch to fill the width?

.timeline-item is a block element.

A <div> is block by default.

Block elements automatically occupy all available width.

So

.timeline

900px

↓

.timeline-item

900px

↓

.timeline-content

900px

A child <div> naturally stretches to fill its parent unless you tell it otherwise.
*/